---
import HeadingFeatured from "@components/Heading/HeadingFeatured.astro";

export interface Props {
  internalPage: boolean;
  featuredText?: string;
}

const { featuredText, internalPage } = Astro.props;
---

<h1 class="mb-4 uppercase tracking-nav">
  <slot />

  {featuredText && <HeadingFeatured>{featuredText}</HeadingFeatured>}
</h1>
